#addPrayer {
    margin-top: 20px;
}

#prayerList {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.completed {
  background-color: #e6f4ea;
  border-left: 0.3rem solid #2e7d32;
  color: #1b5e20;
  padding-left: 0.5rem;
}

.edit-btn, .save-btn {
    margin: 0 20px;
}